img{
    width: 150px;
    margin-right: 300px;
}

a{
    margin: 10px;
    text-decoration: none;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

a:hover{
    color: black;
}

input{
    padding: 5px 10px;
}

button{
background-color: rgb(65, 98, 109);
padding: 7px 12px;
border-radius: 5px;
color: lightblue;
border: none;
}

nav{
    background-color: lightblue;
    border-bottom: 3px solid rgb(51, 78, 85);
    padding: 10px;
}

table{
    margin: 100px auto;
    border-collapse: collapse;
}

.even{
    background-color: lightblue;
}

.odd{
    background-color: lightgreen;
}

.even:hover, .odd:hover{
    background-color: lightgray;
}

section>div{
    /* border: 2px solid black; */
    background-color: rgb(205, 242, 255);
    width: 250px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

div>img{
    width: 100%;
}

h2, p {
    text-align: center;
}

div>button{
    display: block;
    margin: auto;
}

h1{
    text-align: center;
}

footer{
    background-color: rgb(51, 78, 85);
    color: white;
    /* text-align: center; */
}

a>img{
    width: 30px;
    margin: 5px;
}

footer>div{
    padding: 20px;
    /* border: 2px solid black; */
    width: 28%;
    display: inline-block;
}