nav>div>img{
    width: 100px;
}

a{
    margin: 10px;
    text-decoration: none;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

a:hover{
    color: black;
}

input{
    padding: 5px 10px;
}

button{
background-color: rgb(65, 98, 109);
padding: 7px 12px;
border-radius: 5px;
color: lightblue;
border: none;
}

nav{
    background-color: lightblue;
    border-bottom: 3px solid rgb(51, 78, 85);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

table{
    margin: 100px auto;
    border-collapse: collapse;
}

.even{
    background-color: lightblue;
}

.odd{
    background-color: lightgreen;
}

.even:hover, .odd:hover{
    background-color: lightgray;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
}

section>div{
    background-color: rgb(205, 242, 255);
    width: 20%;
    /* height: 450px; */
    /* display: inline-block; */
    margin: 10px;
    padding: 5px;
}

.banner>img{
    width: 100%;
}

h2, p {
    text-align: center;
}

section>div>button{
    display: block;
    margin: auto;
}

section>div>img{
    width: 100%;
}

h1{
    text-align: center;
}

footer{
    background-color: rgb(51, 78, 85);
    color: white;
    /* text-align: center; */
}

a>img{
    width: 30px;
    margin: 5px;
}

footer>div{
    padding: 20px;
    /* border: 2px solid black; */
    width: 28%;
    display: inline-block;
}

nav>div{
    /* border: 2px solid black; */
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 666px){
    nav>div{
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    nav{
        background-color: lightcoral;
    }
    
}

@media only screen and (max-width: 480px){
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: lightgreen;
    }
}

@media only screen and (max-width: 678px){
    section>div{
        width: 25%;
    }
}

@media only screen and (max-width: 452px){
    section>div{
        width: 40%;
    }
}

@media only screen and (max-width: 295px){
    section>div{
        width: 80%;
    }
}